@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
	<body style="background-color:hotpink">
	<form>

		<table>

			<tr>
				<td><b>Login Form</b></td>
			</tr>
			<tr>
				<td>User Name</td>
				<td>
					<input type="text" name="name" placeholder="Uname">
				</td>
			</tr>

			

			<tr>
				<td>Password</td>
				<td>
					<input type="password" name="password" placeholder="password">
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="login">
				</td>
			</tr>

		</table>
	</form>
	</body>
</div>
